<p class="intro-article">La DEW line a été construite dans les années 50 pour repérer une éventuelle attaque nucléaire soviétique. C'est là que j'ai défendu six techniciens contre les ours polaires.</p>
