<button class="nouveaux-evenements" {{ btnClass }}>{{ btnText }}Nouveaux<br>
  <br>évènements</button>

<button class="nouveaux-articles" {{ btnClass }}>{{ btnText }}Nouveaux<br>
    <br>articles</button>

<button class="nouveaux-tutoriels" {{ btnClass }}>{{ btnText }}Nouveaux<br>
      <br>tutoriels</button>