<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ff6d6d;"></span>
    <span class="sg-label">
            $color-utility-hover <br />
            #ff6d6d
        </span>
  </li>
</ul>