/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Passages of text
 */
.text {
	a {
		text-decoration: none;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;

		ol {
			margin-bottom: 0;
		}
	}
}

/**
 * Text passage
 */

 .s-text-passage {
	 margin-bottom: 1rem;
 }

/**
 * Image within text passage
 */
.c-text-passage__img {
	border-radius: $border-radius;
	margin-bottom: 1rem;
}

.txt-author {
	font-family: "Futura-Condensed-ExtraBold";
	font-size: 30px;
}

.txt-legend {
	font-family: "JosefinSans-Thin";
	font-size: 30px;
}

.txt-quote {
	font-family: "Futura-Bold";
	font-size: 50px;
}

.txt-intro {
	font-family: "Futura-Medium-Italic";
	font-size: 30px;
}

.txt-text {
	font-family: "JosefinSans-Thin";
	font-size: 15px;
}

.intro-article {
	font-family: "Futura-Medium-Italic";
	border-top: 4px solid black;
	padding-top: 5px;
	margin-top: 100px;
	width: 100%;
	height: 5px;
	&:after {
		content: '';
		display: block;
		width: 50%;
		height: 5px;
		background-color: black;
		margin-top: 5px;
	}
}

.text-body {
	font-family: "JosefinSans-Thin";
	border-top: 4px solid black;
	padding-top: 5px;
	width: 100%;
	height: 5px;
}

.partage-link {
	color: $color-black ;
	transition : all .3s ease;
	font-family: "Futura-Condensed-Extrabold";
	&:hover {
		color: $color-utility-hover;
		transition : all .3s ease;
	}
}

.connexion-link {
	color: $color-black ;
	transition : all .3s ease;
	font-family: "Futura-Condensed-Extrabold";
	&:hover {
		color: $color-utility-hover;
		transition : all .3s ease;
	}
}
