/*------------------------------------*\
    #BODY
\*------------------------------------*/
@font-face {
  font-family: "Futura-Light";
  src: url("../fonts/01-Futura-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Futura-Medium";
  src: url("../fonts/02-Futura-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Futura-Medium-Italic";
  src: url("../fonts/03-Futura-Medium-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Futura-Bold";
  src: url("../fonts/04-Futura-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Futura-Condensed-ExtraBold";
  src: url("../fonts/05-Futura-CondensedExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "JosefinSans-Thin";
  src: url("../fonts/06-JosefinSans-Thin.ttf") format("truetype");
}
/**
 * Body base styles
 */
body {
	background: $color-white;
	color: $color-gray-50;
	font-family: $font;
	-webkit-text-size-adjust: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.imgLogo-partners {
  border: 4px solid black;
}
